.container>main{
    width: 100%;
    height: 110vh;
   
}
.container>main>.content{
    width: 100%;
    padding: 20px;
}
.container>main>.content>.card>.title>p{
  font-size: clamp(16px,5vw,16px);
  color: rgb(19, 19, 81);
  font-weight: bold;
}
.container>main>.content>p{
  font-size: clamp(18px, 4vw, 26px);
  color: rgb(19, 19, 81);
    font-weight: bold;
}
.container>main>.content>.row{
    width: 350px;
    height:300px ;
    
}
.container>main>.content>.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container>main>.content>.row>.card>.title>p{
    color: rgb(19, 19, 81);
    font-size: large;
    font-weight: 200;
   
    margin-top: 15px;
    
}

.container>main>.content>.card>p{
    margin-top: 15px;
    font-size: clamp(14px, 4vw, 26px);
}


/* --------------Screen Ipad---------- */

@media (min-width: 768px ){
  .container>main{
    width: 100%;
    height: 9%;
   
}
  .container > main > .content {
    padding: var(--padding-md);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container > main > .content > .row{

    display: flex;
  }
  .container > main > .content > .row > .card {
    width: 48%;
  }

  .container > main > .content>.card> p {
    text-align: left;
    font-size: clamp(15px,10vw,12px);
    margin-bottom: 15px;
  }
    
}
/* ----------Screen Laptop---------- */

@media (min-width: 992px) {
    
  .container>main{
    width: 100%;
    height: 110vh;
   
}
    
    .container > main > .content {
      padding: var(--padding-lg);
      padding-top: 50px;
      padding-bottom: 50px;
     
    }
    .container > main > .content >p{
      text-align: left;
    }
  
    .container > main > .content > .card >  {
      padding: 40px;
    }
    .container > main > .content > .card > p {
      
      overflow: block;
    }
  
    
  
  }